/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0, 0%, 98%);
}

a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

/* Typography Styles */

h1 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  color: hsl(0, 0%, 8%);
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}

.btn {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
}

.menu-icon,
.pointer {
  cursor: pointer;
}

nav {
  display: none;
  background: hsla(0, 0%, 41%, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: hsl(0, 0%, 98%);
  width: 50%;
  height: 100%;
  float: right;
  padding: 1rem 1rem 1rem 2rem;
}

.nav-wrapper ul {
  color: hsl(0, 0%, 41%);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
}

.nav-wrapper ul li,
.nav-wrapper ul li a {
  transition: all 0.3s ease-in-out;
}

.nav-wrapper ul li:hover,
.nav-wrapper ul li a:hover {
  color: hsl(0, 0%, 8%);
}

.arrow-down,
.arrow-up {
  padding: 0 1rem;
}

.arrow-up {
  display: none;
}

.nav-wrapper ul ul {
  padding: 1rem 0 0 2rem;
}

.nav-wrapper ul .hide {
  display: none;
}

.nav-wrapper ul .show {
  display: flex;
}

.nav-wrapper ul ul li a {
  display: flex;
  gap: 1rem;
}

.icon {
  height: 100%;
}

.close-icon {
  float: right;
  cursor: pointer;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.btn-login {
  background: none;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
}

.btn-register {
  background: none;
  padding: 1rem 2rem;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 1rem;
  width: 100%;
}

/* Headline Styles */

.hero-mobile {
  width: 100%;
}

.hero-desktop {
  display: none;
}

.text-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.description {
  color: hsl(0, 0%, 41%);
}

.btn-learn {
  border: none;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.sponsorship {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
  margin: 1rem auto;
}

.sponsor {
  width: 100%;
}

/* Footer Styles */

footer {
  padding: 1rem 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 769px) {

  header {
    justify-content: start;
    position: static;
    height: 30px;
    padding: 1.3rem 2rem;
  }

  .mobile-menu,
  .close-button {
    display: none;
  }

  nav {
    display: flex;
    position: static;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .nav-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-wrapper ul {
    flex-direction: row;
    position: relative;
  }

  .nav-wrapper ul li {
    padding: 1.5rem 0;
  }

  .arrow-down,
  .arrow-up {
    padding: 0 0.2rem;
  }

  .nav-wrapper ul ul {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 1.5rem;
    top: 4rem;
    border-radius: 0.8rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
  }

  .nav-wrapper ul ul li {
    padding: 0;
  }

  .nav-wrapper ul li:hover ul {
    display: flex;
  }

  .nav-wrapper ul li:hover .arrow-down {
    transform: rotate(180deg);
  }

  .sign-up {
    flex-direction: row;
    gap: 0.2rem;
    padding: 0;
  }

  .btn-login {
    width: 100px;
    padding: 0.6rem;
  }

  .btn-register {
    padding: 0.6rem;
    width: 100px;
  }
}

